<!DOCTYPE html>
<html lang="en">

<head>
  <link type="text/css" href="/../css/style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JSoft</title>
</head>

<body>
  <!-- Hero Section -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, My name is Cristopher</h1>
        <a href="#" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- EndHero Section -->
</body>

</html>